  <div class="container">
    <h1>Artist Search Results</h1>
    <div class="row">
      {{#each artists}}
      <div class="col-md-4 mb-4">
        <div class="card bg-secondary text-white">
            <img src="{{this.images.[0].url}}" class="card-img-top" alt="{{this.name}}" style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title text-center">{{this.name}}</h5>
            <div class='button-container d-flex justify-content-center'>
            <a href="/albums/{{this.id}}" class="btn btn-danger">View Albums</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>